* {
  box-sizing: border-box;
}

/* #f15c44  
#fef6e7
*/

@font-face {
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Merriweather, serif;
  /* text-align: center; */
}

p {
  font-family: Robot, sans-serif;
}

.top-container {
  color: #fef6e7;
  background-color: #f15c44;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-container button {
  cursor: pointer;
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #fef6e7;
  border: none;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.5s;
}

.top-container button:hover {
  transform: scale(1.05);
}

.library-container {
  background-color: #fef6e7;
  padding: 2rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid black;
  height: 100vh;
}

.book {
  border-left: 0.5rem solid #f14c44;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.5s;
}

.book:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.05);
}

.modal {
  background-color: #33333373;
}

.form {
  border: 1px solid black;
  padding: 2.5rem;
  max-width: 500px;
  max-height: 500px;
  margin: 15% auto;
  background-color: #fef6e7;
  border-left: 0.5rem solid #f14c44;
  color: black;
}

.form-section {
  position: relative;
  margin-bottom: 15px;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

label {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 5px; /* Add some spacing between labels and inputs */
}

input[type="text"] {
  width: calc(100% - 10px); /* Adjust the width based on your needs */
  padding: 10px;
}

input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

/* Clear the default radio button styles */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
}

/* Style the custom radio button */
input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #333;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

/* Style the custom radio button when checked */
input[type="radio"]:checked::before {
  background-color: #333;
}

.radio-choice {
  display: flex;
  align-items: start;
  margin-right: 0.5rem;
}

.radio {
  display: flex;
}

.submit {
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 4px;
  background-color: #f14c44;
  color: #fef6e7;
  font-size: 1.1rem;
  transition: all 0.5s;
}

.submit:hover {
  transform: scale(1.1);
}

.close-form {
  cursor: pointer;
  margin-top: -1rem;
  float: right;
  width: 2rem;
  transition: all 0.5s;
}

.close-form:hover,
.close-form:focus {
  transform: scale(1.2);
  text-decoration: none;
  cursor: pointer;
}

.delete-button {
  cursor: pointer;
  margin-left: 3rem;
  height: 2rem;
  border: none;
  background-color: #f14c44;
  width: 5rem;
}
